[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Luis
	email = stereomato@proton.me
	signingkey = A7C49F67B6D0A76F
[commit]
	gpgsign = true
